.income {
   form {
      input {
         border: 0;
         border-bottom: 1px solid #a3a3a3;
         border-radius: 0;
         &:focus {
            box-shadow: none;
            border-color: purple;
         }
      }
      button {
         display: block;
         margin-top: 1.6rem;
      }
   }
   .income-trans {
      margin-top: 4rem;
   }
}