.budget {
   margin: 3rem auto auto;
   .card {
      padding: 35px 0;
      min-height: 720px;
      background-color: #000000a2;
      color: #fff;
      input {
         background-color: transparent;
         color: #fff;
      }
      .container {
         .calculate-side {
            .main-title {
               font-size: 43px;
               font-weight: bold;
            }
         }
      }
   }
}